/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  :root {
    --underline-height: 1.5px;
    --nav-link-padding-bottom: 4px;
  }
}

@media (max-width: 480px) {
  :root {
    --underline-height: 1px;
    --nav-link-padding-bottom: 3px;
  }

  .nav-link-container {
    font-size: 0.9em; /* Slightly reduce font size on small screens */
  }
}
  